/* --------------------converter -------------------- */

.converter {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 110vh;
}

@media screen and (max-width: 767px) {
    .converter {
        min-height: 140vh;
    }
}

@media screen and (width: 360px) and (min-height: 639px) {
    .converter {
        min-height: 121vh;
    }
}

@media screen and (width: 375px) and (min-height: 666px) {
    .converter {
        min-height: 116vh;
    }
}

@media screen and (width: 375px) and (min-height: 810px) {
    .converter {
        min-height: 95vh;
    }
}

@media screen and (min-width: 411px) and (min-height: 730px) {
    .converter {
        min-height: 107vh;
    }
}

@media screen and (width: 411px) and (min-height: 822px) {
    .converter {
        min-height: 96vh;
    }
}

@media screen and (width: 540px) and (min-height: 720px) {
    .converter {
        min-height: 104vh !important;
    }
}

@media screen and (width: 768px) and (min-height: 1023px) {
    .converter {
        min-height: 90vh !important;
    }
}

@media screen and (width: 1024px) and (min-height: 1365px) {
    .converter {
        min-height: 58vh !important;
    }
}

@media screen and (min-width: 768px) {
    .converter {
        min-height: 160vh;
    }
}

@media screen and (min-width: 768px) and (min-height: 575px) {
    .converter {
        min-height: 143vh;
    }
}

@media screen and (min-width: 768px) and (min-height: 650px) {
    .converter {
        min-height: 128vh;
    }
}

@media screen and (min-width: 768px) and (min-height: 750px) {
    .converter {
        min-height: 112vh;
    }
}

@media screen and (min-width: 768px) and (min-height: 850px) {
    .converter {
        min-height: 98vh;
    }
}

@media screen and (min-width: 1100px) and (min-height: 650px) {
    .converter {
        min-height: 143vh;
    }
}

@media screen and (min-width: 1100px) and (min-height: 700px) {
    .converter {
        min-height: 135vh;
    }
}

@media screen and (min-width: 1100px) and (min-height: 750px) {
    .converter {
        min-height: 127vh;
    }
}

@media screen and (min-width: 1100px) and (min-height: 800px) {
    .converter {
        min-height: 118vh;
    }
}

@media screen and (min-width: 1100px) and (min-height: 850px) {
    .converter {
        min-height: 113vh;
    }
}

@media screen and (min-width: 1100px) and (min-height: 900px) {
    .converter {
        min-height: 105vh;
    }
}

.converter__title {
    font-family: "Lato-Bold", sans-serif;
    font-size: 2.437rem;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .converter__title {
        width: 100%;
        margin: 0 auto;
        font-size: calc(3.5vw + .3em) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .converter__title {
        font-size: 2em;
    }
}

@media screen and (max-width: 767px) {
    .primary-title {
        display: none;
    }
    .secondary-title {
        display: block !important;
    }
}

.converter__text {
    font-family: "Lato-Medium", sans-serif;
    font-size: 1.25em;
    font-weight: 500;
}

/*@media screen and (max-width: 767px) {
    .converter__text {
        display: none;
    }
}*/

@media screen and (min-width: 320px) and (max-width: 1100px) {
    .converter__text {
        font-size: .625em;
        padding-top: .3rem;
    }
}

@media screen and (min-width: 450px) {
    .converter__text {
        font-size: .8em;
    }
}

@media screen and (min-width: 625px) {
    .converter__text {
        font-size: .9em;
    }
}

@media screen and (min-width: 1100px) {
    .converter__text {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 768px) {
    .primary-title {
        display: block;
    }
    .secondary-title {
        display: none;
    }
}

.converter__from {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 8.43rem;
    margin: .92rem 0 3.75rem;

    background: #595b5e;
    border: 33px solid rgba(67, 69, 72, 1);
    border-radius: 85px;
  }

  .coin__wrapper {
    cursor: pointer;
    outline: none;
  }

  .coin__wrapper:active {
    outline: none;
  }

    @media screen and (max-width: 767px) {
        .converter__from {
            align-items: flex-start;

            height: 4.93rem;
            width: 100%;
            margin: .9rem auto 3rem;

            background: #434548;
            border: .93rem solid #434548;
            border-radius: .93rem;
        }
    }

  @media screen and (min-width: 768px) and (max-width: 1100px) {
    .converter__from {
      margin: 1.25rem auto;
      height: 6.9rem;
      padding: .15rem  0;
      border-radius: 55px;
      border: 30px solid rgba(67, 69, 72, 1);
    }
  }

@media screen and (min-width: 900px) and (min-height: 1050px) {
    .converter__from {
      margin: 2.25rem auto;
    }

    .arrow-down {
      margin-top: 3rem;
    }
}

@media screen and (min-width: 900px) and (min-height: 1100px) {
    .converter__from {
      padding: 2rem 0;
      margin: 3.25rem auto;
      border-radius: 100px;
    }

    .arrow-down {
      margin-top: 4rem;
      background-size: 1em;
    }
}

.form__wrapper {
    position: relative;
    margin: 1.25rem auto 0;
    width: 49.75rem;
}

  @media screen and (min-width: 320px) and (max-width: 624px) {
    .form__wrapper {
      margin: 0 auto;
      width: 100%;
    }
  }

  @media screen and (min-width: 625px) and (max-width: 1200px) {
    .form__wrapper {
      width: 77%;
    }
  }

  .from__wrapper::before {
    content: "from";
    position: absolute;
    top: -1.56rem;
    left: 1.8rem;
    font-family: "Lato";
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }

  @media screen and (min-width: 320px) and (max-width: 1100px) {
    .from__wrapper::before {
      top: -1.3rem;
      left: 1rem;
      font-size: .6em;
    }
  }

  .arrow-down {
      position: absolute;
      display: block;
      width: 1.68rem;
      height: 2.5rem;
      margin-top: 7rem;
      background: url(../img/icons/cloud-down.svg) no-repeat center top;
      left: calc(47% + 2%);
      background-size: .7em;
      z-index: 2;
  }

    @media screen and (max-width: 767px) {
        .arrow-down {
            margin: 5.65rem auto;
            background-size: 1em;
        }
    }

  @media screen and (min-width: 1101px) {
    .arrow-down {
      background-size: auto;
      margin-top: 9.35rem;
    }
  }

  /*
    @media screen and (min-width: 320px) {
    .converter__footer {
      top: -4.1rem;
    }
  }

  @media screen and (min-width: 400px) {
    .converter__footer {
      top: -4.5rem;
    }
  }

  @media screen and (min-width: 440px) {
    .converter__footer {
      top: -4.9rem;
    }
  }

  @media screen and (min-width: 480px) {
    .converter__footer {
      top: -5.3rem;
    }
  }

  @media screen and (min-width: 550px) {
    .converter__footer {
      top: -6.9rem;
    }
  }
  */
